{% extends "base.html" %}
{% block content %}
    <br><br><br>
    <div class="container-fluid mt--6">
        <div class="row justify-content-center">
            <div class="col-md-8 col-12">
                <div class="card">
                    <div class="card-header bg-transparent border-0">
                        <legend class="border-bottom mb-4 text-center">Reset Password</legend>
                    </div>

                    <div class="card-body px-lg-7">
                        <div class="row justify-content-center">
                            <form method="POST" class="form" role="form">
                                {% csrf_token %}
                                {{ form.as_p }}
                        </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary my-4">Reset Password</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
            let tag=document.getElementsByTagName('form')[0];
            let list=tag.getElementsByTagName('ul');
            for(let i=0;i<list.length;i++)
                list[i].classList.add("d-none");
            let elist=tag.getElementsByClassName('errorlist');
            for(let i=0;i<elist.length;i++)
            {   elist[i].classList.remove("d-none");
                elist[i].classList.add("alert","alert-danger");
                elist[i].style.listStyle="none";
            }
            let al=document.getElementsByTagName("input")[1];
            al.style.marginLeft="95px";
    </script>
{% endblock %}