{% extends "base.html" %}
{% load static %}

{% block content %}

<header class="masthead">
    <div class="container">
        <div class="row">
            <div class="col text-dark">
            </div>
        </div>
        <div class="row">
            <div class="col">
                
                <h1 class="text-dark">CONTACT US</h1> 
                <form method="POST" id="cForm" name="Fcontact">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6 col-12">
                            <div class="form-group">
                                <input class="form-control" id="id_{{ Cform.uname.name }}" name="{{ Cform.uname.name }}" type="text" placeholder="Your Name *"
                                    required="required">
                            </div>
                            <div class="form-group">
                                <input class="form-control" id="id_{{ Cform.mail.name }}" name="{{ Cform.mail.name }}" type="email" placeholder="Your Email *" required="required">
                            </div>
                            <div class="form-group">
                                <input class="form-control" id="id_{{ Cform.telephone.name }}" name="{{ Cform.telephone.name }}" type="tel" placeholder="Your Phone *" required="required">
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" id="id_{{ Cform.message.name }}" name="{{ Cform.message.name }}" placeholder="Your Message *"
                                    required="required"
                                    ></textarea>
                            </div>

                            <div class="text-center">
                                <div id="success"></div>
                                <button class="btn btn-primary text-uppercase" id="sendMessageButton"
                                    type="submit">Send
                                    Message</button>
                            </div>
                        </div>
                        <div class="col-md-6 col-12">
                            <iframe style="height: 100%; width: 100%;"
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d20747.07755757604!2d77.44629112994778!3d23.18479629991776!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x397c4264f53d4a3f%3A0x486160c222eb4a92!2sHoshangabad%20Rd%2C%20Madhya%20Pradesh%20462026!5e0!3m2!1sen!2sin!4v1590947077193!5m2!1sen!2sin"
                                frameborder="0" style="border:0;" allowfullscreen=""
                                aria-hidden="false" tabindex="0"></iframe>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</header>



{% endblock %}