{% extends 'base1.html' %}
{% block content %}
<main class="p-5">

<div class="row">
	<div class="col">
	<h1 class="myhead2">Contact</h1>
		<hr>
	</div>
</div>
<div class="row">
	<div class="col-sm-6">
	<form>
	<input class="form-control" type="text" name="uname" placeholder="Name" /><br>
	<input class="form-control" type="email" name="email" placeholder="email" /><br>
	<input class="form-control" type="tel" name="phone_no" placeholder="Phone No" /><br>
	<textarea class="form-control"  placeholder="MSG"></textarea><br>
	<button class="btn btn-dark btn-block" type="submit">Submit</button>
	</form>
	</div>
	<div class="col-sm-6">
	<p>
	<strong><span class="fa fa-map-marker mx-2"></strong> Hoshangabad Road, Bhopal – 462026, India<br><br>
	<strong><span class="fa fa-phone mx-2"></strong> 9993202xxxx<br><br>
	<strong><span class="fa fa-fax mx-2"></strong> 9993202xxxx<br><br>
	<strong><span class="fa fa-globe mx-2"></strong> http://blabla.com<br><br>
	</p>
	</div>
</div>
<div class="row my-5">
<div class="col-sm-8 offset-sm-2">
<div class="embed-responsive embed-responsive-16by9">
	<iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14874.742904550822!2d81.6111144!3d21.2443074!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x9ed6532a6f04f63c!2sEffCon+Technologies!5e0!3m2!1sen!2sin!4v1563201346331!5m2!1sen!2sin" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
</div>
</div>

</main>
{% endblock %}
