<html>
<body>
<h1 class="myhead2">My Posts </h1>
<div class="row">
        {% for n1 in mypost_list %}
        <div class="col-md-4">
            <div class="card">
    <img class="card-img-top" src="" alt="">
    <div class="card-body">
        <h4 class="card-title">Title</h4>
        <p class="card-text">Text</p>
    </div>
</div>
        </div>
        {% endfor %}
    </div>

</body>
</html>
