{% extends 'base1.html' %}
{% block content %}
<div class="p-5">
	<h1 class="myhead2">{{myprofile.user_id.first_name}}</h1>
	<hr>
<div class="row">
	<div class="col-sm-6">
	<p><strong>Age :: </strong> {{myprofile.age}}</p>
	<p><strong>Gender :: </strong> {{myprofile.gender}}</p>
	<p><strong>Address :: </strong> {{myprofile.address}}</p>
	<p><strong>Status :: </strong> {{myprofile.status}}</p>
	<p><strong>Phone No :: </strong> {{myprofile.phone_no}}</p>
	<p><strong>Description :: </strong> {{myprofile.description}}</p>
	</div>
	<div class="col-sm-6">
		<img class="img-fluid" src="/media/{{myprofile.pic}}" />
	</div>
</div>
<a href="/social/myprofile" class="btn btn-dark">Back</a>
</div>
{% endblock %}
